@font-face 
{
    font-family:'Roboto' ;
    src: url("../Polices/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}  

@font-face 
{
    font-family: 'Shrikhand';
    src: url("../Polices/Shrikhand/Shrikhand-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadein 
{
    from {
        opacity:0;
        transform:translateY(100%);
    }
    to {
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes check-appear
{
    from {
        width: 0 !important;
    }
    to {
        width:75px !important;
    } 
}    


body
{
    font-family: Roboto;
    margin:0;
    min-height: 300px;
}

a 
{
    color: black;
    text-decoration: none; 
}

/*************Header************/

#logo
{
    width:50%;
}

.ohmyfood
{
    display: flex ;
    justify-content: center;
    padding: 15px;   
}

header
{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.return
{
    margin-left: 15px;
    font-size: 20px;
    color: #353535;
    position: absolute;
    left:0;
}

.restaurant-img
{
    width:100%;
    height:350px;
    object-fit: cover;
}

/****************loader*********************
.loading {
    display: flex;
    justify-content: center;
    background-color:
  }
  
  .loading--full-height {
    align-items: center;
    height: 100%;
  }
  
  .loading::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #dddddd;
    border-top-color: #009579;
    border-radius: 50%;
    transform: rotate(0.16turn);
    animation: loading 1s ease infinite;
    
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    
    to {
      transform: rotate(1turn);
    }
  }

/***************Menu**************************/

#container
{
    background-color: #f6f6f6;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    margin-top: -30px;
    position:relative;
}

.name
{
    font-family: Shrikhand;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.name>.far:hover
{
    color:#9356DC;
    font-weight: bold;
    transition: 0.2s ease-out;
    cursor: pointer;
    transform:scale(1.2);
    background: -webkit-linear-gradient(#ff79da, #9356DC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;    
}

.name>button
{
    border:none;
    background: none;
    font-size: 130%;
}

.category
{
    margin-left: 20px;
    border-bottom:2px solid #99e2d0;
    width:5%; 
}

.category>h5
{
    margin:0;
}

.choise
{
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    padding: 5px 10px;
    width: auto;
    height: 60px;
    font-size: 0.95em;
    overflow: hidden;
    position:relative;
}

.choise-check
{
    background-color: #99e2d0;
    padding: 25px 25px 25px 0;
    position: absolute;
    top:0;
    right: -100%; 
}

.choise:hover 
{
    padding-right: 80px;
    transition: all 500ms ease; 
}

.choise:hover .choise-check 
{
    transition: all 500ms ease; 
    right:0;
}

.choise:hover .fas
{
    transform:  rotate(-360deg);
    transition: all 500ms ease;
}

.choise-check>.fas
{
    background-color: white;
    border-radius: 30px;
    margin-left:20px;
    padding: 3px;
    color:#99e2d0;
}

.animation
{
    animation:fadein 1.7s forwards;
    opacity:0;
}

.animation:nth-of-type(2)
{
    animation-delay: 0.2s;
}
.animation:nth-of-type(3)
{
    animation-delay: 0.4s;
}
.animation:nth-of-type(4)
{
    animation-delay: 0.6s;
}
.animation:nth-of-type(5)
{
    animation-delay: 0.8s;
}

.order
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;
    margin:35px 0;
    background: linear-gradient(#ff79da, #9356DC);
    width:250px;
    height:auto;
    cursor: pointer;
}

.order-button
{
    display: flex;
    justify-content:center ;   
}

.title
{
    display:block;
    min-width: 240px;  
}

.title>p
{
    margin:5px;
    font-size:0.9em;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;   
}

.price
{
    display: block;  
}

/**************** footer ******************/

footer
{
    color:white;
    background-color: #353535;
    padding: 5px;
    font-size: 0.9rem;
    padding-left: 20px;
}

footer>ul
{
    list-style-type: none;
    padding:0;
}

footer li 
{
    margin-bottom: 5px;
}

footer span
{
    display:inline-block;
    width: 25px;
}

.footer-logo
{
    font-family: Shrikhand;
}


/****** Responsive ******/

@media screen and (min-width:630px)
{ 
 
    .name
    {
        justify-content: center;
    }

    .name>h2
    {
        margin-right:30px;
    }

    .entries
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dishes
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .desserts
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .price
    {
        margin: 5px ;
    }

    .category{
        border:none;
        margin: 5px 0;
    }

    .choise
    {
        width:500px;
    }

    

}









